<nav class="nav navbar-default" ng-controller="NavbarController">
  <div class="container-fluid">
    <ul class="nav navbar-nav" id="navbar-tabs">
      <li><a ui-sref="home.localView">The Loop</a></li>
      <li ng-hide="signedIn()"><a ui-sref="home.login" >Log In</a></li>
      <li ng-hide="signedIn()"><a ui-sref="home.register" >Sign Up</a></li>
      <li><a ui-sref="home.events">Events</a></li>
      <li ng-show="signedIn()"><a ui-sref="home.myEvents" >My Events</a></li>
      <li ng-show="signedIn()"><a href="" ng-click="logout()">Log Out</a></li>
    </ul>
  </div>
</nav>
