<nav class="nav navbar-default" id="nav-bar-height" ng-controller="NavbarController">
  <div class="container-fluid" ng-init="newEvent=false">
    <div id="navbar-tabs">
      <ul class="nav navbar-nav hidden-xs" id="navbar-ul">
        <li><a ui-sref="home.localView" ui-sref-active="active">The Loop</a></li>
        <li ng-hide="signedIn()"><a ui-sref="home.login" ui-sref-active="active">Log In</a></li>
        <li ng-hide="signedIn()"><a ui-sref="home.register" ui-sref-active="active">Sign Up</a></li>
        <li><a ui-sref="home.events" ui-sref-active="active">Events</a></li>
        <li ng-show="signedIn()"><a ui-sref="home.myEvents" ui-sref-active="active">My Events</a></li>
        <li ng-show="signedIn()"><a href="" ng-click="newEvent=!newEvent" ui-sref-active="active">Create New Event</a></li>
        <li ng-show="signedIn()"><a href="" ng-click="logout()">Log Out</a></li>
      </ul>
    </div>
  </div>
  <div ng-show='newEvent'>
    <new-event-form></new-event-form>
  </div>

  <div class="visible-xs category_tab">
    <button type="button"
    class="btn btn-lg btn-primary show-xs"
    data-animation="am-flip-x"
    bs-dropdown
    aria-haspopup="true"
    aria-expanded="false"><span class='glyphicon glyphicon-th-list'></span> Menu
  </button>

  <ul class="dropdown-menu" role="menu">
    <li><a ui-sref="home.localView" ui-sref-active="active">The Loop</a></li>
    <li ng-hide="signedIn()"><a ui-sref="home.login" ui-sref-active="active">Log In</a></li>
    <li ng-hide="signedIn()"><a ui-sref="home.register" ui-sref-active="active">Sign Up</a></li>
    <li><a ui-sref="home.events" ui-sref-active="active">Events</a></li>
    <li ng-show="signedIn()"><a ui-sref="home.myEvents" ui-sref-active="active">My Events</a></li>
    <li ng-show="signedIn()"><a href="" ng-click="newEvent=!newEvent" ui-sref-active="active">Create New Event</a></li>
    <li ng-show="signedIn()"><a href="" ng-click="logout()">Log Out</a></li>
  </ul>

</nav>
