/*
 *= require_tree .
 *= require_self
 */

#map_view {
  position: fixed;
  right: 0px;
  top: 0px;
  width: 20%;
  height: 100%;
  background-color: lightblue;
}

#events_list {
  width: 80%;
}

.angular-google-map-container {
  height: 400px;
}
