#events-index {
  padding-left: 60px;
}

#events-header {
  margin-top: 30px;
  font-weight: 300;
  padding-bottom: 10px;
  color: rgb(0, 107, 179);
  border-bottom: .8px solid rgb(0, 107, 179);
}

.search-inputs {
  margin: auto;
}

#sort-by-link {
  margin-top: 9px;
}

#events-list {
  list-style-type: none;
  margin: 4px 15px 13px -24px
}

#events-list-container{
  margin-top: 11px;
  height: 475px;
  overflow: scroll;
}

.event-container {
  padding: 3px 42px 3px 42px;
  background-color: white;
  box-shadow: 2px 2px 5px gray;
  border-radius: 5px;
  a {
    font-weight: 300;
    color: rgb(0, 107, 179);
  }
  a:hover {
    color: navy;
    text-decoration: none;
  }
}

.active-marker {
  border: 2px solid #006BB3;
}

// #loading-gif {
//   margin: auto;
//   height: 850px;
//   width: 550px;
// }

#loading-map-message {
  text-align: center;
  padding: 10px;
  font-size: 1.3em;
  border-radius: 5px;
}

.wait {
  cursor: wait;
}
