#events-index {
  padding-left: 60px;
}

#events-header {
  margin-top: 30px;
  font-weight: 300;
  margin-left: 200px;
  color: rgb(0, 107, 179);
}

#sort-by-link {
  margin-top: 9px;
}

#events-list {
  list-style-type: none;
}

#events-list-container{
  height: 475px;
  overflow: scroll;
}

.event-container {
  margin-left: -50px;
  padding: 5px 15px 7px 25px;
  background-color: white;
  box-shadow: 2px 2px 5px gray;
  border-radius: 5px;
  a {
    font-weight: 300;
    color: rgb(0, 107, 179);
  }
  a:hover {
    color: navy;
    text-decoration: none;
  }
}

#loading-gif {
  margin: auto;
  height: 850px;
  width: 550px;
}

#loading-map-message {
  text-align: center;
  padding: 10px;
  font-size: 1.3em;
  border-radius: 5px;
}

.wait {
  cursor: wait;
}

.active-marker {
  border: 2px solid #006BB3;
}
