#event-show-page {
  background-color: white;
  margin-top: 50px;
  padding: 25px 32px 35px 35px;
  margin-left: 37px;
  height: 560px;
  overflow: scroll;
  box-shadow: 1px 1px 3px gray;
  font-size: 16px;
  font-weight: 300;
}

.event-header {
  font-weight: 200;
  color: rgb(0, 107, 179);
}

.event-image {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  height: 75px;
  width: 75px;
  border-radius: 5px;
}

#attend-event-button {
  margin-top: 10px;
  margin-left: 222px;
}

#edit-event-button {
  margin-left: 230px;
  margin-top: 10px;
}

.event-headers {
  font-weight: 400;
}

.event-address {
  margin-top: 30px;
  line-height: 80%;
}
