#event-show-page {
  width: 47%;
  margin: 48px 19px;
  background-color: white;
  padding: 25px 32px 35px 35px;
  height: 557px;
  overflow: scroll;
  box-shadow: 1px 1px 3px gray;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 300;
}

.event-header {
  font-weight: 200;
  color: rgb(0, 107, 179);
}

.event-image {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  height: 75px;
  width: 75px;
  border-radius: 5px;
}

.btn-success {
  cursor: default;
}

.event-headers {
  font-weight: 400;
}

.event-address {
  margin-top: 25px;
  line-height: 80%;
  margin-bottom: 10px;
}

.event-date {
  padding-left: 32px;
}

// My Events Page

.local-event {
  list-style-type: none;
}

.local-date {
  background-color: white;
  padding: 0px 40px;
  margin-left: -50px;
  box-shadow: 1px 1px 2px gray;
  border-radius: 10px;
  padding-bottom: 10px;
  h3 {
    font-weight: 200;
    color: rgb(0, 107, 179);
    font-size: 1.1em;
    text-align: center;
  }
}

.local-category {
  font-size: 1.5em;
  font-weight: 300;
  margin-top: 15px;
  margin-bottom: -10px;
  color: rgb(0, 107, 179);
  text-align: center;
}

.local-details{
  background-color: white;
  margin-left: 25px;
  padding: 10px 30px;
  box-shadow: 1px 1px 2px gray;
  border-radius: 10px;
  padding-bottom: 10px;
}

.local-image {
  float: right;
  margin: 10px -85px 10px 0px;
  height: 75px;
  width: 75px;
  border-radius: 5px;
}

.local-address {
  margin-top: 10px;
  line-height: 80%;
  margin-bottom: 7px;
}

#my-events-header {
  margin-top: 50px;
  margin-left: -50px;
  padding-bottom: 20px;
  text-align: center;
  font-weight: 200;
  color: rgb(0, 107, 179);
  border-bottom: .5px solid rgb(0, 107, 179);
}

#remove-event {
  float:right;
  margin: 1em;
}

.margin-bottom {
  padding-bottom: .7em;
}

.view-event {
  float: right;
  font-size: 1.3em;
  font-weight: 300;
  margin: -5px 14px -39px;
}

.my-event-title {
  font-size: 1.7em;
  font-weight: 300;
  margin-top: 15px;
  margin-bottom: -10px;
}

#no-events-message {
  text-align: center;
  font-size: 1.5em;
  margin-top: 150px;
  font-weight: 200;
}

.attend-event-button {
  margin-bottom: 5px;
}

// Comment

.comment-button {
  text-align: center;
}

#comment-error {
  font-size: .8em;
}
