#map_view {
  position: fixed;
  float: right;
  margin-top: 58px;
  border-radius: 5px;
  width: 40%;
  right: 0px;
  top: 0px;
}

.angular-google-map-container {
  height: 650px;
  width: 100%;
  border-radius: 5px;
  margin: auto;
}
