#map_view {
  position: fixed;
  float:right;
  margin-top: 110px;
  border-radius: 5px;
  height: 85%;
  width: 40%;
  right: 0px;
  top: 0px;
}

#events_list {
  width: 60%;
}

.angular-google-map-container {
  height: 550px;
  width: 100%;
  border-radius: 5px;
  margin: auto;
}
