<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6" id="event-show-page">
      <div class="row">
        <h1 class="col-sm-8 event-header">{{event.data.title}}</h1>

        <div class="col-sm-4" ng-show="event.data.images.image.thumb.url">
          <div class="event-image">
            <img class="event-image" src="{{event.data.images.image.thumb.url}}">
          </div>
        </div><br>
      </div><hr>

      <div class="row event-headers">
        <p class="col-sm-8" ng-model="event.category">{{event.category}}</p>
        <p class="col-sm-offset-1 col-sm-offset-4 event-date">{{event.date | date:'medium'}}</p><br>
      </div>

      <p ng-bind-html="event.data.description | removeWhiteSpace"></p>

      <div class="event-address">
        <p>{{event.data.venue_name}}</p>
        <p>{{event.data.address}}</p>
        <p>{{event.data.city}}, {{event.data.region_abbr}} {{event.data.postal_code}}</p>
      </div><br>

      <p ng-show="event.users.length > 0">Users attending event: {{event.data.users.length}}</p>
      <button class="btn btn-success" ng-if="signedIn()" ng-show="event.attending" data-toggle="tooltip" data-placement="top" title="Attending Event">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Attending
      </button>

      <div class="text-center">
        <button class="btn btn-primary" ng-if="signedIn()" ng-show="!event.attending" type="submit" ng-click="event.addEvent()">Attend Event</button><br>

        <button class="btn btn-primary event-buttons" id="edit-event-button" ng-show="event.editable" ng-click="editEvent=!editEvent">Edit Event</button>
      </div><br>

      <p>Comments:</p>
      <div ng-repeat="comment in event.data.comments">
        <comment-item comment="comment"></comment-item>
      </div>

      <form ng-submit="event.addComment()" class="form-group">
        <textarea type="text" class="form-control comment-form" placeholder="Comment" ng-model="event.comment.content"></textarea><br>

        <div class="comment-button">
          <input type="submit" class="btn btn-primary text-center" value="Add Comment">
        </div>
      </form>

      <div ng-show='editEvent'>
        <edit-event-form event="event"></edit-event-form>
      </div>
    </div>

    <div class="col-sm-6">
      <div id="event-show-map">
        <ui-gmap-google-map center="map.center" options="options" zoom="map.zoom">
          <ui-gmap-markers models= 'markers' coords= "'coords'" icon="'http://www.webweaver.nu/clipart/img/nature/planets/smiling-gold-star.png'">
            <ui-gmap-window show='show'>
              <div>{{coords}}</div>
            </ui-gmap-window>
          </ui-gmap-markers>
        </ui-gmap-google-map>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
