<div id="events-index">
  <h2 id="events-header">Welcome To The Loop</h2><br><br>

  <div class="row">
    <div class="col-sm-7">
      <div class="col-sm-6">
        <p><input type="text" class="form-control" placeholder='Keyword Search' ng-model='ctrl.keyword'></p>
      </div>

      <div class="col-sm-6">
        <form ng-submit='ctrl.zipcodeSearch()'>
          <input type="text" class="form-control" placeholder='Different Zipcode or City' ng-model='ctrl.zipcode'>
          <input type="submit" hidden='true'>
        </form>
      </div>
    </div>
  </div>
  {{event.details}}
  <li id='events_list' ng-repeat="eventData in ctrl.data | filter:ctrl.keyword" >
    <api-event details='eventData'></api-event>
  </li>
  <ol id="events_list">
    <li>Markers{{markers}}</li>
  </ol>
  <div id='map_view'>

    <ui-gmap-google-map center="map.center" options="options" zoom="map.zoom">
      <ui-gmap-markers models= 'markers' coords= "'coords'" icon="'http://www.webweaver.nu/clipart/img/nature/planets/smiling-gold-star.png'">
        <ui-gmap-window show='show'>
          <div>{{coords}}</div>
        </ui-gmap-window>
      </ui-gmap-markers>
    </ui-gmap-google-map>

  </div>
</div>
