<h2>Welcome To The Loop</h2>
<a ui-sref='home'>Home</a>

<p><input type="text" placeholder='Keyword Search' ng-model='ctrl.keyword'></p>

<form ng-submit='ctrl.zipcodeSearch()'>
  <input type="text" placeholder='Different Zipcode or City' ng-model='ctrl.zipcode'>
  <input type="submit" hidden='true'>
</form>

<li id='events_list' ng-repeat="eventData in ctrl.data | filter:ctrl.keyword" >
  <event details='eventData'></event>
</li>
<div id='map_view'>
  Map

  <!-- <ui-gmap-google-map center="map.center" options="options" zoom="map.zoom"></ui-gmap-google-map> -->

</div>
