<div class="container-fluid" ng-init="editEvent=false">
  <div class="row" >
    <div class="col-sm-6" id="event-show-page">
      <div class="row">
        <h1 class="col-sm-8 event-header">{{event.data.title}}</h1>

        <div class="col-sm-4">
          <div class="event-image">
            <img class="event-image" src="{{event.data.image_url}}" alt="{{event.data.title}} event image">
          </div>
        </div>
      </div><hr>

      <span ng-repeat='link_item in event.data.links.link'>
        <p><a href="{{link_item.url}}">{{link_item.description}}</a> (external link)</p>
      </span>

      <p>{{event.data.users.length}} users are attending the event.</p>
      <p>Venue: {{event.data.venue.name}}</p>
      <p>Address: {{event.data.street_address}}</p>
      <p>{{event.data.city}}, {{event.data.region}} {{event.data.postal_code}}</p>
      <p>{{event.data.country}}</p>

      <h5>Categories</h5>
      <span ng-repeat='tag in event.data.categories.category'>
        <span>{{tag.name}}</span>
      </span>

      <p ng-bind-html="event.data.description | removeWhiteSpace"></p>

      <p>Starts at {{event.data.start_time}}</p>

      <p id="add-event-message"></p>

      <button class="btn btn-primary" ng-show="event.editable" ng-click="editEvent=!editEvent" id="add-event-button">Edit Event</button>

      <button class="btn btn-primary" ng-if="signedIn()" ng-show="!event.attending" type="submit" ng-click="event.addEvent(event.data)">Attend Event</button>
      <h4 ng-show="event.attending()">On The Guest List!</h4>

    </div>
    <div ng-show='editEvent'>
      <edit-event-form event="event"></edit-event-form>
    </div>

    <div class="col-sm-6">
      <div id="event-show-map">

        <ui-gmap-google-map center="map.center" options="options" zoom="map.zoom">
          <ui-gmap-markers models= 'markers' coords= "'coords'" icon="'http://www.webweaver.nu/clipart/img/nature/planets/smiling-gold-star.png'">
            <ui-gmap-window show='show'>
              <div>{{coords}}</div>
            </ui-gmap-window>
          </ui-gmap-markers>
        </ui-gmap-google-map>
      </div>
    </div>
  </div>
</div>
