<div class="container-fluid" ng-init="editEvent=false">
  <div class="row" >
    <div class="col-sm-6" id="event-show-page">
      <div class="row">
        <h1 class="col-sm-8 event-header">{{event.data.title}}</h1>

        <div class="col-sm-4">
          <div class="event-image">
            <img class="event-image" src="{{event.data.image_url}}" ng-show="{{event.data.images.image.thumb.url}}">
          </div>
        </div>
      </div><hr>

      <div class="row event-headers">
        <p class="col-sm-8">{{event.category}}</p>
        <p class="col-sm-offset-1 col-sm-offset-4 event-date">{{event.date | date:'medium'}}</p><br>
      </div>

      <p ng-bind-html="event.data.description | removeWhiteSpace"></p>

      <div class="event-address">
        <p>{{event.data.venue.name}}</p>
        <p>{{event.data.street_address}}</p>
        <p>{{event.data.city}}, {{event.data.region_abbr}} {{event.data.postal_code}}</p>
      </div><br>

      <p>Users attending the event: {{event.data.users.length}}</p>
      <p ng-show="event.attending"><strong>On The Guest List!</strong></p>

      <button class="btn btn-primary" id="attend-event-button" ng-if="signedIn()" ng-show="!event.attending" type="submit" ng-click="event.addEvent(event.data)">Attend Event</button><br>


      <button class="btn btn-primary event-buttons" id="edit-event-button" ng-show="event.editable" ng-click="editEvent=!editEvent">Edit Event</button>

      <div>Comments:
        <div ng-repeat="comment in event.data.comments">
          <comment-item comment="comment"></comment-item>
        </div>
        <form ng-submit="event.addComment(event.data.id, event.comment, event.user.id)">
          <input type="text" placeholder="comment" ng-model="event.comment.content">
          <input type="submit" value="Add Comment">
        </form>
      </div>



      <!-- <button class="btn btn-primary event-buttons" id="edit-event-button" ng-show="event.editable" ng-click="editEvent=!editEvent">Edit Event</button> -->
    </div>

    <!-- <div ng-show='editEvent'>
      <edit-event-form event="event"></edit-event-form>
    </div> -->

    <div class="col-sm-6">
      <div id="event-show-map">

        <ui-gmap-google-map center="map.center" options="options" zoom="map.zoom">
          <ui-gmap-markers models= 'markers' coords= "'coords'" icon="'http://www.webweaver.nu/clipart/img/nature/planets/smiling-gold-star.png'">
            <ui-gmap-window show='show'>
              <div>{{coords}}</div>
            </ui-gmap-window>
          </ui-gmap-markers>
        </ui-gmap-google-map>
      </div>
    </div>
  </div>
</div>
