<div id="events-index" class="container">
  <div class="row">
    <h2 id="my-events-header">The Loop</h2><br>

    <div ng-show='ctrl.events.events.length > 0'>
      <div class="row">
        <p id="sort-by-link">
          Sort by: <a href="" ng-click="sort = '-date'; reverse = !reverse">Date</a>
        </p>
      </div>

      <ul id='events_list' ng-repeat="eventData in ctrl.events.events | orderBy:sort:reverse">
        <loop-event details='eventData'></loop-event>
      </ul>
    </div>

    <div ng-show='ctrl.events.events.length == 0'>
      <p>You have no events yet. <a ui-sref='home.events'>Find events near you!</a></p>
    </div>
  </div>
</div>
