<div id="events-index">
  <h2 id="events-header">Welcome To The Loop</h2><br><br>

  <!-- <div class="row">
    <div class="col-sm-7">
      <div class="col-sm-6">
        <p><input type="text" class="form-control" placeholder='Keyword Search' ng-model='ctrl.keyword'></p>
      </div>

      <div class="col-sm-6">
        <form ng-submit='ctrl.zipcodeSearch()'>
          <input type="text" class="form-control" placeholder='Different Zipcode or City' ng-model='ctrl.zipcode'>
          <input type="submit" hidden='true'>
        </form>
      </div>
    </div>
  </div> -->

  <div ng-show='ctrl.events.length > 0'>
    <li id='events_list' ng-repeat="eventData in ctrl.events.events" >
      <local-event details='eventData'></local-event>
    </li>
  </div>
  <div>
    You have no events yet. <a ui-sref='home.events'>Find events near you!</a>
  </div>


  <div id='map_view'>

    <ui-gmap-google-map center="map.center" options="options" zoom="map.zoom"></ui-gmap-google-map>

  </div>
</div>
