<div id="events-index">
  <h2 id="events-header">Welcome To The Loop</h2><br><br>

  <div ng-show='ctrl.events.events.length > 0'>
    <li id='events_list' ng-repeat="eventData in ctrl.events.events" >
      <loop-event details='eventData'></loop-event>
    </li>
  </div>

  <div ng-show='ctrl.events.events.length == 0'>
    <p>You have no events yet. <a ui-sref='home.events'>Find events near you!</a></p>
  </div>

  <div id='map_view'>
    <ui-gmap-google-map center="map.center" options="options" zoom="map.zoom"></ui-gmap-google-map>
  </div>
</div>
