<div class="blackout" ng-click="closeForm()">
  <form ng-submit="eventForm.createEvent()" class='create_event_form' ng-click=" $event.stopPropagation()">
    <h2 class="auth-header">Create a New Event</h2>
    <div class="row">
      <div class="col-sm-8 auth-inputs">
        <label for="eventForm.formData.name">Event Name</label>
        <input type="text" class="form-control" placeholder="Event Name" ng-model="eventForm.formData.title"><br>
Change to text_area
        <label for="eventForm.formData.description">Description</label>
        <input type="text" class="form-control" placeholder="Description" ng-model="eventForm.formData.description"><br>
Event model seems to need start time to have a date as well...... <br>
        <label for="eventForm.formData.start_time">Start Time</label>
        <input type="datetime-local" class="form-control" ng-model="eventForm.formData.start_time"><br>

        <label for="eventForm.formData.event_url">Event or Ticketing URL</label>
        <input type="url" class="form-control" placeholder="URL" ng-model="eventForm.formData.event_url"><br>

        <label for="eventForm.formData.street_address">Street Address</label>
        <input type="text" class="form-control" placeholder="Address" ng-model="eventForm.formData.street_address"><br>

        <label for="eventForm.formData.city">City</label>
        <input type="text" class="form-control" placeholder="City" ng-model="eventForm.formData.city"><br>

        Can we have a drop-down?? Don't want NY instead of New York..
        <label for="eventForm.formData.region_abbr">State</label>
        <input type="text" class="form-control" placeholder="State" ng-model="eventForm.formData.region_abbr"><br>

        <label for="eventForm.formData.postal_code">Zipcode / Postal Code</label>
        <input type="number" class="form-control" placeholder="Zipcode / Postal Code" ng-model="eventForm.formData.postal_code"><br>

        Drop-down?
        <label for="eventForm.formData.country">Country</label>
        <input type="text" class="form-control" placeholder="Country" ng-model="eventForm.formData.country"><br>

        Need calculation backend
        latitude: decimal,
        <label for="eventForm.formData.latitude">Latitude</label>
        <!-- <input type="text" class="form-control" placeholder="URL" ng-model="eventForm.event_url"><br> -->

        Need calculation backend
        longitude: decimal,
        <label for="eventForm.formData.longitude">Longitude</label>
        <!-- <input type="text" class="form-control" placeholder="URL" ng-model="eventForm.event_url"><br> -->

        Need to state it was user created (will also use this if integrate other event sources)
        api_id: string,
        <label for="eventForm.formData.api_id">API ID</label>
        <!-- <input type="text" class="form-control" placeholder="URL" ng-model="eventForm.event_url"><br> -->

        <label for="eventForm.formData.image_url">Image URL</label>
        <input type="text" class="form-control" placeholder="Image URL" ng-model="eventForm.formData.image_url"><br>

        possible drop-down case
        category_id: integer,
        <label for="eventForm.formData.categories.category">Categories</label>
        <input type="text" hidden="true" ng-model="eventForm.formData.categories.category" class="form-control" placeholder="Category"><br>

        venue_id: integer
        <label for="eventForm.formData.venue">Venue</label>
        <input type="text" class="form-control" placeholder="Venue Name" ng-model="eventForm.formData.venue"><br>

      </div>
    </div>

    <input type="submit" class="btn btn-primary" value="Create">
  </form>
</div>
